/* ___reset_____ */

* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 1024px;
    margin: 0 auto;
    height: 100%;
}

/* ______________nav_____________________ */

header {
    position: fixed;
    z-index: 4;
    width: 1024px;
    height: 50px;
    background-color: #1E1E1E;
    flex: 1 0 auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.nav-item {
    display: flex;
    height: 50px;
    width: 150px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    color: #9FC6D4;
}

.nav-item:hover {
    background-color: #3C3C3C;
}

/* wrapper, main, footer */

main {
    margin-top: 50PX;
    width: 100%;
    flex: 1 0 auto;
}

footer {
    width: 100%;
    flex: 0 0 auto;
    height: 50px;
    background-color: #1E1E1E;
}